<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
<!--    开启驼峰命名转换-->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>
<!--    环境配置,jdbc 连接池-->
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
<!--            <dataSource type="POOLED">-->
            <dataSource type="com.zy.oa.datasource.DruidDataSourceFactory">
                <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3307/zy_oa?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai&amp;allowPublicKeyRetrieval=true"/>
                <property name="username" value="root"/>
                <property name="password" value="New123#"/>
<!--                初始化连接个数,最大连接数-->
                <property name="initialSize" value="10"/>
                <property name="maxActive" value="20"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/test.xml"></mapper>
        <mapper resource="mappers/user.xml"></mapper>
        <mapper resource="mappers/rbac.xml"></mapper>
        <mapper resource="mappers/employee.xml"></mapper>
        <mapper resource="mappers/leave_form.xml"></mapper>
        <mapper resource="mappers/process_flow.xml"></mapper>
        <mapper resource="mappers/notice.xml"></mapper>
        <mapper resource="mappers/department.xml"></mapper>
    </mappers>
</configuration>